doctype html
html(lang='pl-PL')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible' content='IE=edge")
    title Quiz
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css')
    link(rel='stylesheet', type='text/css', media='screen', href='main.css')
    script(type='module', src='playMain.js', defer='')
  body
    #overlay.is-overlay
      .message
        .message-header
          h1 Wynik
        #overlayBody.message-body
          .level.dont-overflow
            section#results.level-item.dont-overflow
              table.table
                tbody
                  tr
                    td Poprawnych odpowiedzi
                    td#correctCounter
                  tr
                    td Całkowity czas
                    td#totalTime
                  tr
                    td Łączna kara
                    td#totalPenalty
              table.table.is-striped.dont-overflow
                thead
                  tr
                    th.center-cell Zadanie
                    th.center-cell Odpowiedź
                    th.center-cell Czas
                tbody#resultTable.dont-overflow
              form#saveForm
                .label Podaj swój nick:
                input#nick.input.is-focused(type='text', placeholder='Nick')
                label.checkbox
                  input#saveStats(type='checkbox')
                  |                                 Zapisz statystyki
                .level
                  .level-left
                  .level-right
                    .level-item.buttons
                      input#save.button.is-success(type='submit', value='Zapisz')
                      input#cancel.button.is-danger(type='button', value='Anuluj')
    nav.navbar(role='navigation')
      .navbar-brand
        a.navbar-item(href='quiz.html')
          h1.title.is-3 Quiz
        a#navButton.navbar-burger.burger(role='button', data-target='navMenu')
          span(aria-hidden='true')
          span(aria-hidden='true')
          span(aria-hidden='true')
      #navMenu.navbar-menu
        .navbar-start
          a.navbar-item(href='#intro')
            | Wprowadzenie
          a.navbar-item(href='play.html')
            | Rozpocznij quiz
          .navbar-item.has-dropdown.is-hoverable
            a.navbar-link
              | Więcej
            .navbar-dropdown
              a.navbar-item(href='quiz.html#instruction')
                | Instrukcja
              a.navbar-item(href='quiz.html#questions')
                | Lista pytań
              a.navbar-item(href='quiz.html#ranking')
                | Ranking
    .main-container
      section#intro.message.is-dark
        .message-header Wprowadzenie
        .message-body
          | Liczyć każdy może! Powodzenia!
      section#questionList.buttons.are-small.horizontal-scroll
      section.level
        .level-left
          | Kara za błędną odpowiedź: 
          span#penalty
          | s
        .level-right
          #stopwatch
            | 00:00:00
      form#quizForm
        .level.dont-overflow
          .level-item.dont-overflow
            #questionBox.is-more-huge.dont-overflow
              #question 2 + 2
              span.field.has-addons.is-more-huge
                div  = 
                input#answer(type='number')
        .level
          .level-left
          .level-right
            .level-item.buttons
              input#submitButton.button.is-success(type='submit', value='Następne')
              input#skipButton.button(type='button', value='Pomiń')
    template#questionButtonTemplate
      button.button.is-outlined.is-info
        | 1
